In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from config_vacation import g_key

In [2]:
#reading csv from part I
cities_data = '../WeatherPy/output_data/cities.csv'
cities_df = pd.read_csv(cities_data)

set_cities_df = cities_df.set_index('City_ID')
set_cities_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
City_ID,,,,,,,,,
0,fortuna,40.5982,-124.1573,55.00,94,75,21.85,US,1612139621
1,qaanaaq,77.4840,-69.3632,-4.81,88,100,1.48,GL,1612139486
2,vaini,-21.2000,-175.2000,80.60,89,90,10.36,TO,1612139621
3,broome,42.2506,-75.8330,24.01,86,90,9.22,US,1612139621
4,atuona,-9.8000,-139.0333,78.91,75,1,17.52,PF,1612139622
...,...,...,...,...,...,...,...,...,...
563,xichang,27.8964,102.2634,46.00,45,9,1.16,CN,1612139794
564,arvika,59.6553,12.5852,3.20,92,54,1.74,SE,1612139794
565,meadow lake,34.8014,-106.5436,50.00,27,40,3.89,US,1612139795
566,moroni,-11.7022,43.2551,80.56,70,51,4.65,KM,1612139795
567,pochutla,15.7432,-96.4661,82.40,65,20,9.22,MX,1612139795

In [12]:
#humidity heatmap
gmaps.configure(api_key = g_key)

locations = set_cities_df[['Lat', 'Lng']]
fig = gmaps.figure(map_type= 'HYBRID')

humid = set_cities_df['Humidity']

heat_layer = gmaps.heatmap_layer(locations, weights = humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
#ideal weather conditions
#max temp = 80, but nothing less than 60
#wind speed less than 10
#humidity nothing greater than 50
#cloudiness less than 25

#dropping temp
ideal_temp_index = set_cities_df[(set_cities_df['Max_Temp'] > 80) | (set_cities_df['Max_Temp'] < 60)].index
ideal_temp = set_cities_df.drop(ideal_temp_index, inplace = False)

#dropping wind
ideal_wind_index = ideal_temp[ideal_temp['Wind_Speed'] > 10].index
ideal_temp_wind = ideal_temp.drop(ideal_wind_index, inplace = False)

#dropping humidity
ideal_humid_index = ideal_temp_wind[ideal_temp_wind['Humidity'] > 40].index 
ideal_temp_wind_humidity = ideal_temp_wind.drop(ideal_humid_index, inplace = False)

#dropping cloudiness
ideal_cloud_index = ideal_temp_wind_humidity[ideal_temp_wind_humidity['Cloudiness'] > 25].index
ideal_weather_df = ideal_temp_wind_humidity.drop(ideal_cloud_index, inplace = False)

ideal_weather_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
City_ID,,,,,,,,,
101,san patricio,28.0170,-97.5169,73.40,23,1,8.05,US,1612139657
165,taoudenni,22.6783,-3.9836,67.93,23,0,8.72,ML,1612139675
180,raymondville,26.4815,-97.7831,72.00,26,1,5.75,US,1612139678
191,tombouctou,20.0000,-3.0000,67.10,21,19,9.10,ML,1612139681
235,tignere,7.3667,12.6500,66.07,26,0,1.90,CM,1612139693
300,mankono,8.0586,-6.1897,75.45,25,0,4.18,CI,1612139716
309,valentin gomez farias,28.2167,-106.5833,61.00,28,6,5.99,MX,1612139719
354,waw,7.7029,27.9953,72.63,21,0,6.76,SS,1612139732
366,bara,10.3744,10.7288,70.77,23,0,7.67,NG,1612139735
375,mongo,12.1844,18.6930,70.75,23,0,5.17,TD,1612139737
415,ferkessedougou,9.6000,-5.2000,73.96,20,16,3.27,CI,1612139747
426,yola,9.2000,12.4833,74.70,20,0,1.88,NG,1612139750
481,ilorin,8.5000,4.5500,78.80,36,0,4.50,NG,1612139764
511,odweyne,9.4092,45.0640,63.61,32,0,9.01,SO,1612139778
516,bhavnagar,21.7667,72.1500,65.14,35,0,8.16,IN,1612139765
532,lonar,19.9833,76.5333,61.29,28,19,8.05,IN,1612139782
555,coihaique,-45.5752,-72.0662,69.80,40,0,6.91,CL,1612139792
558,wenchi,7.7392,-2.1046,76.86,27,0,3.76,GH,1612139699

In [58]:
#hotel df
hotel_df = ideal_weather_df
hotel_df['Hotel_Name'] = ""

In [59]:
hotel_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel_Name
City_ID,,,,,,,,,,
101,san patricio,28.0170,-97.5169,73.40,23,1,8.05,US,1612139657,
165,taoudenni,22.6783,-3.9836,67.93,23,0,8.72,ML,1612139675,
180,raymondville,26.4815,-97.7831,72.00,26,1,5.75,US,1612139678,
191,tombouctou,20.0000,-3.0000,67.10,21,19,9.10,ML,1612139681,
235,tignere,7.3667,12.6500,66.07,26,0,1.90,CM,1612139693,
300,mankono,8.0586,-6.1897,75.45,25,0,4.18,CI,1612139716,
309,valentin gomez farias,28.2167,-106.5833,61.00,28,6,5.99,MX,1612139719,
354,waw,7.7029,27.9953,72.63,21,0,6.76,SS,1612139732,
366,bara,10.3744,10.7288,70.77,23,0,7.67,NG,1612139735,
375,mongo,12.1844,18.6930,70.75,23,0,5.17,TD,1612139737,
415,ferkessedougou,9.6000,-5.2000,73.96,20,16,3.27,CI,1612139747,
426,yola,9.2000,12.4833,74.70,20,0,1.88,NG,1612139750,
481,ilorin,8.5000,4.5500,78.80,36,0,4.50,NG,1612139764,
511,odweyne,9.4092,45.0640,63.61,32,0,9.01,SO,1612139778,
516,bhavnagar,21.7667,72.1500,65.14,35,0,8.16,IN,1612139765,
532,lonar,19.9833,76.5333,61.29,28,19,8.05,IN,1612139782,
555,coihaique,-45.5752,-72.0662,69.80,40,0,6.91,CL,1612139792,
558,wenchi,7.7392,-2.1046,76.86,27,0,3.76,GH,1612139699,